@import "tailwindcss";

@theme {
  --text: #130e01;
  --background: #fffdfa;
  --primary: #fcd44f;
  --secondary: #bedbfe;
  --accent: #1d4fd7;
}

:root {
  font-family: system-ui, Poppins, sans-serif;

  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}
