@import "tailwindcss";

@theme {
  --text: #130e01;
  --background: #fffdfa;
  --primary: #fcd44f;
  --secondary: #bedbfe;
  --accent: #1d4fd7;
}

:root {
  font-family: system-ui, Poppins, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #b2b2b2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}
