:root {
  --clr-gray-100: #f3f4f6;
}

.custom-popper {
  z-index: 1000;
}

.custom-calendar {
  font-family: "Inter", sans-serif;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  height: 300px;
}

.custom-calendar .react-datepicker__day-names {
  text-align: center;
  background: var(--clr-gray-100);
  border-radius: 4px;
  font-weight: 600;
  color: #0b60d7;
}

.react-datepicker__header {
  padding: 0;
  border-bottom: 0;
  background-color: transparent;
}

.react-datepicker-wrapper {
  width: 100%;
}

.custom-calendar .react-datepicker__current-month {
  border-bottom: 2px solid blueviolet;
}

.react-datepicker__day {
  color: #2d3748;
  border-radius: 4px;
}

.react-datepicker__day--outside-month {
  color: #b3b3b3;
}

.react-datepicker__day--selected {
  background-color: #4299e1;
  color: white;
}

.react-datepicker__day--keyboard-selected {
  background-color: #4299e1;
  color: white;
}

.react-datepicker__day:hover,
.react-datepicker__navigation--next:hover,
.react-datepicker__navigation--previous:hover {
  background-color: #cbd5e0;
}

.react-datepicker__day--today {
  font-weight: bold;
  color: #043f6f;
}

.react-datepicker__month-dropdown,
.react-datepicker__year-dropdown {
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.react-datepicker__year-dropdown {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 coloane */
  gap: 8px;
  padding: 8px;
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: max-content;
  min-width: 120px;
}

.react-datepicker__year-option {
  border: 2px solid red;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.react-datepicker__year-option:hover {
  background-color: #f3f4f6;
}

.react-datepicker__year-option--selected {
  background-color: #4299e1;
  color: white;
  font-weight: bold;
}

/* Stiluri pentru dropdown-ul de ani */
.year-dropdown-container {
  /* position: absolute; */
  /* top: 100%;  */
  /* left: 0; */
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: max-content;
  max-height: 160px;
  overflow-y: hidden;
}

.year-dropdown-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 8px;
}

.year-item {
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.year-item:hover {
  background-color: #f3f4f6;
}

.year-item.selected {
  background-color: #3b82f6;
  color: white;
}
